<% STATIC_URL = 'http://localhost:3000';%>
<!Doctype html>
<% timestamp = new Date().getMilliseconds() %>
<html>
<head>
    <title>커뮤니티</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, user-scalable=yes" name="viewport">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <link href="<%=STATIC_URL%>/css/tailwind.css?2" rel="stylesheet">
    <link href="<%=STATIC_URL%>/css/common.css?2" rel="stylesheet">
    <link href="<%=STATIC_URL%>/css/quill.snow.css?2" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans+KR:500&display=swap&subset=korean">
    <script type="text/javascript" src="<%=STATIC_URL%>/js/axios.js"></script>
    <script type="text/javascript" src="<%=STATIC_URL%>/js/quill.min.js"></script>
    <script type="text/javascript" src="<%=STATIC_URL%>/js/common.js?<%=timestamp%>"></script>
</head>
<body>
    <header>
        <div class="h-16 bg-slate-900 text-slate-300 flex items-center justify-between px-6">
            <div>
            </div>
            <% if(!user){%>
                <div>
                    <a href="<%=STATIC_URL%>/user/login" class="mr-3 font-sans-kr">로그인</a>
                    <a href="<%=STATIC_URL%>/user/join" class="font-sans-kr">회원가입</a>
                </div>
            <%}else{%>
                <div>
                    <a href="<%=STATIC_URL%>/logout" class="mr-3 font-sans-kr">로그아웃</a>
                    <a href="<%=STATIC_URL%>/user/mypage" class="font-sans-kr">마이페이지</a>
                </div>
            <%}%>
        </div>
    </header>




