<%- include('common') %>
<%- include('header') %>
<%- include('nav') %>
<div class="m-auto font-sans-kr flex justify-between" style="width:80%">
    <main class="" <% if(is_aside !== false) {%>style="width:calc(100% - 315px); "<% }else{%>style="width: 100%" <%}%>>

<% if (m === 'user'){ %>
    <%- include('./user/index')%>
<% }else if(m === 'board') { %>
    <%- include('./board/index') %>
<% }else{ %>
      <%- include('main') %>
<% } %>
    </main>
    <% if(is_aside !== false) {%>
    <%- include('aside') %>
    <% } %>
</div>
<%- include('footer') %>