<% user = render_data.user_data;  %>
<% m = render_data.m;  %>
<% m2 = render_data.m2;  %>
<% m3 = render_data.m3;  %>
<%- include('header') %>
<div class="m-auto font-sans-kr flex justify-between" style="width:80%">
    <main class="" style="width:calc(100% - 315px);">

<% if (m === 'user'){ %>
    <%- include('./user/index')%>
<% }else{ %>
      <%- include('main') %>
<% } %>
    </main>

    <%- include('aside') %>
</div>
<%- include('footer') %>